<h1>Storglaciären</h1>
Storglaciären är den mest undersökta glaciären i välden och dess massbalansserie som sträcker sig obruten sedan 1945 är längst i världen.
Glaciären är fotografiskt dokumenterad sedan 1886 och dess frontläge mättes in för första gången 1897.
Glaciären täcker en yta av 3,1 km2 och den har ett maxdjup på ca 250 meter och ett medeldjup på ca 95 meter.
Detaljerade kartor finns från åren 1949–51, 1959, 1969, 1980 och 1990. Digitala terrängmodeller finns från 1999 och 2008.
Forskningsarbetena på Storglaciären sker från den intilliggande Tarfalastationen som är Stockholms universitets fältstation.
Sedan 1945 har glaciären blivit i genomsnitt 17 meter tunnare och den totala massförlusten sedan 1910 är ca 150 miljoner kubikmeter, vilket motsvarar ca 30 % av dess forna massa.